build/deps/android/
build/deps/geocouch/
build/deps/couchdb/
build/deps/curl-7.20.0.tar.bz2
build/deps/curl-7.20.0/
build/deps/mozilla-current/mozilla-central
build/deps/mozilla-current/mozilla-central-bb9089ae2322/
build/deps/ndk/android-ndk-r4c/
build/deps/otp/
build/deps/otp_rel/
out/